<nav>
  <a href="/home" class="text-white font-bold text-xxl">Eleventy Decap Tailwind Template</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>