/*
Styling the area where markdown is add (<main> tag)
*/

main {
    margin: 20px;
  }

/* Custom styles for the navigation bar */
nav {
    background-color: #1a202c; /* Set your preferred background color */
    padding: 1rem;
  }

  nav a {
    color: #fff; /* Set the text color for links */
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #cbd5e0; /* Set the text color on hover */
    opacity: 0.8;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    margin-right: 1rem;
    list-style: none;
  }

  nav li:not(:last-child) {
    /* Add spacing between list items except for the last one */
    margin-right: 1rem; /* Adjust as needed */
  }

  .text-white {
    color: white;
  }

  .font-bold {
    font-weight: bold;
  }

  .text-xxl {
    font-size: xx-large;
  }

  /* Styling for the contact list */
  .contact-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .contact-list li {
    margin-bottom: 10px;
  }

  .contact-list a {
    display: block;
    padding: 8px 16px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    background-color: #f7fafc;
    color: #2d3748;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }

  .contact-list a:hover {
    background-color: #edf2f7;
  }