---
layout: layouts/base.njk
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ '../../assets/main.css' | url }}" />
</head>

<main>
<time>{{ date | readableDate }}</time>
<article>{{ content | safe }}</article>
</main>